.perros_felices_color {
  color: rgb(94, 46, 171);
}
.perros_felices_image {
  width: 65%;
  height: auto;
}
.perros_felices_image_container {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media(max-width: 768px) {
  .perros_felices_image {
    margin-top: 2.5em;
    width: 80%;
  }
  .perros_felices_image_container {
    align-items: center;
    justify-content: center;
  }
}