.project_section {
  height: 90vh;
}
.project_title {
  margin-bottom: 1em !important;
  margin-top: 0;
  font-size: 2.5em;
}
.project_phrase {
  font-weight: bold;
  font-size: 3em;
}
.project_description {
  margin-bottom: 2em !important;
}
.project_button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 100%;
  font-size: 1em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: white;
}
@media(max-width: 768px) {
  .project_section {
    height: auto;
    padding: 3em 0;
  }
  .project_title {
    font-size: 2em;
  }
  .project_phrase {
    font-size: 2.5em;
  }
}
@media(max-width: 375px) {
  .project_title {
    font-size: 1.7em;
  }
  .project_phrase {
    font-size: 2em;
  }
}