.main_service{
    padding: 1em 0;
    border-bottom: 3px solid #3a4da7;
}
.children{
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 1.2em 0;
}

.item_title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
}
.main{
    padding: 2em 1em !important;
    border-radius: 10px;
}
.title{
    text-align: center;
    margin: 1em 0 !important;
}