.main_item h1 {
    font-size: 1em;
}

.main_item {
    cursor: pointer;
    border-top: 3px solid transparent;
    padding: .5em 0;
    color: #8e8e8e;
    font-weight: normal;
    transition: all .5s;
}

.active {
    font-weight: bold;
    border-top: 3px solid #3a4da7;
    color: #3A3856;
}