.main {
	position: fixed;
	height: 3.5em;
	width: 3.5em;
	justify-content: center;
	align-items: center;
	align-content: center;
	display: flex;
	border-radius: 100px;
	bottom: 2em;
	right: 2em;
	z-index: 100;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.icon {
	font-size: 1.8em;
}

@media screen and (max-width: 768px) {
	.main {
		right: 1em;
	}
}