.main_item {
  padding: 1em 1em 0 1em;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.item_image {
  width: 100%;
  height: auto;
  padding: .7em;
  border-radius: 10px;
  transition: all .5s;
}
.item_image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.title_item {
  font-size: 1.2em;
  font-weight: normal;
}
.separate_from_top {
  margin-top: 0.5em;
}