.main_container {
    padding: 2em 0;
    min-height: 70vh;
}

.main_container h2 {
    font-size: 1em;
    text-transform: uppercase;
}

.main_container h1 {
    font-size: 3em;
    margin-top: .3em !important;
}

.main_item p {
    margin: 0;
    font-weight: bold;
    line-height: 2em;
    text-transform: capitalize;
}

.main_item img {
    height: 15px;
    width: auto;
}

.main_item {
    margin-bottom: 2em;
    margin-right: 2em;
}

.button {
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.main_item::after {
    content: "";
    width: 30px;
    background: #181818;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.image_benefit {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    min-height: 100px;
    min-width: 300px;
    /* height: ; */
}