.main_service {
    padding: 1em;
    margin: 1em 0 !important;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: all .4s;
}

.main_service:hover {
    transform: translateY(-10px);
    background: #3a4da7 !important;
}

.main {
}

.main_title {
    text-align: center;
    margin: 1em 0 !important;
}

.service_title {
    text-align: center;
    margin: 1em 0 0 0 !important;
    font-size: 1em;
}

.main_service:hover .service_title {
    color: white !important;
}


.main_service:hover .children {
    color: white !important;
}

@media screen and (max-width: 768px) {
    .main_title{
        font-size: 1.5em;
        text-align: start;
    }
}