.service_step {
	padding: 3em 0;
}
.service_step_title {
	font-size: 2.5em;
	line-height: 1.2em;
	margin: 1em 0 !important;
}
.service_step_description {
	font-size: 1.2em;
}
@media screen and (max-width: 1024px) {
	.service_page_title {
		font-size: 2em;
	}
	.service_step_title {
		font-size: 2em;
		margin-bottom: 1.2em !important;
	}
	.service_step_description {
		font-size: 1em;
	}
}
@media screen and (max-width: 768px) {
	.service_step {
		padding: 1em 0 !important;
	}
	.service_step_description {
		margin-bottom: 1em !important;
	}
}
.image {
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.left{
	transform: rotate3d(.5, .866, 0, 16deg) rotateZ(2deg);
}
.right{
	transform: rotate3d(.5, .866, 0, 16deg) rotateZ(-2deg);
}