.main_title {
	font-size: 2em;
}
.label {
	font-size: .8em;
	font-weight: normal;
	margin-bottom: .5em !important;
}
.message {
	border: none;
	width: 100%;
	padding: 1em .6em;
	outline: none;
	background: #f6f9fc;
	border-radius: 4px;
	font-size: 1em;
	font-weight: normal;
	color: #8898aa;
	border: 1px solid transparent;
	resize: none;
	margin-bottom: 1em;
}
.send_button {
	border: none;
	padding: .6em 1.4em;
	font-size: 1em;
	font-weight: normal;
	cursor: pointer;
	margin-top: 1em !important;
	border-radius: 4px;
	outline: none;
}