.description_text {
    font-size: 5em;
    line-height: 1.2em;
}

.button_services {
    padding: .8em 2em;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    margin: 1em 0;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}


.main_banner img {
    max-width: 100%;
    max-height: 100%;
    transition: all .3s;
}

.main_banner {
    height: 100vh;
}

.main_image_container {
    transition: all 2s;
}

.bg {
    height: 110vh;
}

.blured {
    filter: blur(2px);
    opacity: .6;
    transform: translateX(100vw)
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
    .bg {
        height: 30vh;
    }

    .description_text {
        font-size: 2em;
    }

    .responsive_button {
        padding: .5em 0;
        user-select: none;
        cursor: pointer;
        outline: none;
    }

    .responsive_button::after {
        content: "";
        width: 50px;
        position: absolute;
        height: 2px;
        background: #181818;
        bottom: 0;
        left: 0;
        /* margin-bottom: 1em; */
    }

    .main_banner {
        height: auto;
        margin-top: 4em !important;
    }
/* 
    body {
        margin-top: 4em;
    } */
}