.main {
	padding: 4em 0;
	margin: 1em 0 !important;
}
.main_title {
	font-size: 3em;
	font-weight: normal;
	margin-bottom: .4em !important;
}
.button {
	margin: 1em 0 !important;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	border: none;
	width: 100%;
	font-size: 1em;
}
.image {
	max-height: 100%;
	max-width: 100%;
}
.title_description {
	font-size: .9em;
	font-weight: normal;
}
.main_tag {
	padding: .3em 1em !important;
	border-radius: 4px;
	margin: 1em 0 !important;
	margin-right: .4em !important;
	font-size: .8em;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.main_title {
		font-size: 1.4em;
		font-weight: bold;
	}
	.main {
		padding: 2em 0;
	}
	.image {
		margin-bottom: 1.5em;
	}
}