.main {
    padding-top: 5em !important;
    min-height: 100vh;
}
.main_items{
    padding: 2em 0 !important;
    margin: 1em 0 !important;
}

.main_title {
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 1em 0 !important;
}

.main_title span {
    font-size: .8em !important;
    background: #3c4ea854;
    padding: 0 .1em;
    border-radius: 3px;
}

.offert {
    padding: .6em 1.2em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    font-size: .8em;
    /* font-weight: bold; */
}

@media screen and (max-width: 768px) {
    .main_title{
        font-size: 1.2em;
    }
}