.main_title {
	font-size: 2em;
}
.box_container textarea::placeholder {
	color: rgba(0, 0, 0, 0.3);
	opacity: 1;
	font-weight: normal;
}
.form_container {
	box-shadow: 1px -3px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), 0 -18px 60px -10px rgba(0, 0, 0, .025);
	border-radius: 4px;
	padding: 1em 0 !important;
	transition: all .6s;
	z-index: 2;
	background: white;
}
.form_container:hover {
	box-shadow: 14px 15px 100px -20px rgba(50, 50, 93, .25), -16px -6px 60px -30px rgba(0, 0, 0, .3), 18px 20px 60px -10px rgba(0, 0, 0, .025);
}
.box_container {
	padding: 2em 0;
	transition: all .5s;
	position: relative;
}
.white {
	color: white !important;
}
.linear {
	background: linear-gradient(90deg, rgba(58, 77, 167, 1), rgba(58, 77, 167, 1));
	transform: skewY(-12deg);
	overflow-x: hidden;
	opacity: 1;
	transition: opacity 1s ease;
	height: 100%;
	width: 100%;
	bottom: -0%;
	top: 80%;
	position: absolute;
	z-index: 2;
}

@media screen and (max-width: 1024px) {
	.send {
		margin: 1em 0 !important;
	}
}