.main_header {
	position: fixed;
	z-index: 4;
	width: 100%;
	top: 0;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.menu_button_white div span, .menu_button_white div span::before, .menu_button_white div span::after {
	background-color: white;
}
.header_box {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.main_header h1 {
	font-size: 2em;
	margin-right: .5em !important;
}
h5 {
	font-size: .8em;
}
a {
	text-decoration: none;
}
.main_header_white_content * {
	color: white;
}