.main_header {
    padding: 1em;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}
h1{
    font-size: 2em;
}
h5{
    font-size: .8em;
    /* font-weight: 200; */
}
a{
    text-decoration: none;
}
/* body{
    margin-top: 100px;
} */