.image {
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.left{
    transform: rotate3d(.5, .866, 0, 16deg) rotateZ(2deg);
}
.right{
    transform: rotate3d(.5, .866, 0, 16deg) rotateZ(-2deg);
}