@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    font-family: 'Heebo', sans-serif;
    margin: 0 !important;

}

.main_font {
    font-family: 'Heebo', sans-serif;
}

.u__no_margin {
    margin: 0 !important;
}

.u__no_padding {
    padding: 0 !important;
}

.u__small_margin_vertical {
    margin: 1em 0;
}

.u__big_margin_vertical {
    margin: 3em 0;
}

.u__small_padding {
    padding: 1em;
}

.u__main_box_shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* COLORS */
.transparent_color {
    background: transparent;
}

.white_color_text {
    color: #ffffff;
}

.white_color {
    background: #ffffff;
}

.gray_color_text {
    color: #B9B5B7;
}

.blue_light_color_text {
    color: #3a4da7;
}

.blue_light_color {
    background: #3a4da7;
}

.accent_color {
    background: #caf7f2;
}

.blue_light_color_rgba {
    background: #3a4da76b;
}

.red_color_text {
    color: #e53935;
}

.red_light_color_color {
    color: #ff6f60;
}

.black_color {
    background: #181818;
}

.black_color_text {
    color: #181818;
}

.red_light_color {
    background: #ff6f60;
}

.red_light_color_rgba {
    background: #ff6f606b;
}

.main_color {
    background: #3A3856;
}
.dark_color{
    background: #030303;
}

.main_color_text {
    color: #3A3856;
}