@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Heebo', sans-serif;
	overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
a {
	font-family: 'Heebo', sans-serif;
	margin: 0 !important;
}

.main_font {
	font-family: 'Heebo', sans-serif;
}

.u__no_margin {
	margin: 0 !important;
}

.u__no_padding {
	padding: 0 !important;
}

.u__small_margin_vertical {
	margin: 1em 0;
}

.u__big_margin_vertical {
	margin: 3em 0;
}

.u__small_padding {
	padding: 1em 0;
}

.u__small_margin_bottom{
	margin: 0 0 1em 0;
}
.u__main_box_shadow {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.u__normal_font {
	font-weight: normal;
}

.lds-ring {
	display: flex;
	position: relative;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 17px;
  height: 17px;
	border: 3px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* COLORS */
.transparent_color {
	background: transparent;
}

.white_color_text {
	color: #ffffff;
}

.white_color {
	background: #ffffff;
}

.gray_color_text {
	color: #B9B5B7;
}

.blue_light_color_text {
	color: #3a4da7;
}

.blue_light_color {
	background: #3a4da7;
}

.disabled_color {
	background-color: rgb(136, 136, 136);
	color: rgb(240, 240, 240);
}

.accent_color {
	background: #d5eeed;
}
.accent_color_text_dark{
	color: #05363c;
}
.accent_color_text_light{
	color: #3cc5b9;
}
.blue_light_color_rgba {
	background: #3a4da76b;
}

.red_color_text {
	color: #b71c1c;
}

.red_light_color_color {
	color: #ff6f60;
}

.black_color {
	background: #181818;
}

.black_color_text {
	color: #181818;
}

.red_light_color {
	background: #ff6f60;
}

.red_light_color_rgba {
	background: #ff6f606b;
}

.main_color {
	background: #3A3856;
}

.dark_color {
	background: #030303;
}

.main_color_text {
	color: #3A3856;
}

/* REPONSIVE */
@media screen and (max-width: 768px) {
	.u__no_padding_in_mobile{
		padding: 0 !important;
	}

}