.title {
	font-size: 1.5em;
}
.item {
	font-weight: normal;
	font-size: .9em;
}
.divider {
	height: 3px;
	width: 100%;
	border-radius: 100px;
	margin: 1em 0 !important;
}
.footer {
	padding: 1.5em 0;
}
.all_rights_reserved {
	color: rgb(230, 230, 230);
}
@media screen and (max-width: 768px) {
	.title {
		margin-bottom: 0 !important;
	}
}
@media screen and (max-width: 1024px) {
	.separate_in_tablet {
		margin-bottom: 0.5em !important;
	}
}