.main_title{
    font-size: 2.5em;
}
.main_icon{
    height: 50px;
    width: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    border-radius: 100px;
}

.main_item_title{
    font-size: 1.2em;
}
.main_item{
    cursor: pointer;
    transition: all .4s;
    margin: 2em 0;
}

.main_item:hover{
    transform: translateY(-2px);
}


