.main_item {
    padding: 1em;
    border-radius: 4px;
    transition: all .5s;
}

.main_item:hover {
    transform: translateY(-10px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main_title {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: .5em !important;
    text-align: center;
}

.pricing {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.pricing span {
    font-size: .3em;
    font-weight: normal;
}

.main_benefit {
    padding: 0 0 .1em 0;
    display: inline-block;
    border-bottom: 1px dashed #8e8e8e;
    cursor: pointer;
    margin-bottom: .5em !important;
    font-weight: bold;
    font-size: 1.1em; 
}
.main_item_description{
    font-size: .9em;
    font-weight: normal;
}

.button {
    border: none;
    padding: .6em 1.2em;
    cursor: pointer;
    border-radius: 100px;
    outline: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
    font-size: 1.2em;
    margin: 1em 0 !important;
}